@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The While Looop</h1>
    <p class="lead">Introduction Text</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Place Holder 1</h2>
        <p>Text</p>
    </div>
    <div class="col-md-4">
        <h2>Place Holder 2</h2>
        <p>Text</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Place Holder 3</h2>
        <p>Text</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>